@import '../../Abstracts/Mixin';

.navigation-main{
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 20%;
    min-height: 100vh;
    color: white;
    background: linear-gradient(10deg, #810551, #05454d);
    padding: 5px 10px;
    background-color: red;
    overflow: hidden;
    // padding-top: 10px;
    .menu{
        position: absolute;
        right: 10px;
        top: 0;
        margin-left: auto;
        font-size: 25px;
        height: 35px;
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        cursor: pointer;


    }
    header{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 20px 20px;
        background-color: rgba(255, 255, 255, 0.377);
        border-radius: 14px;
        margin-bottom: 10px;
        // margin-top: 10px;

        // ::after{
        //     position: absolute;
        //     content: "";
        //     height: 1px;
        //     width: 80%;
        //     background-color: rgba(255,255,255,0.37);
        //     // bottom: 0;
        // }

        .profile{
            height: 50px;
            aspect-ratio: 1;
            border-radius: 50%;
            background-color: lightgrey;
            
            .profile-img{
                height: 100%;
                aspect-ratio: 1;
                border-radius: 50%;
                object-fit: cover;
            }
        }
        span{
            font-size: 15px;
        }
    }
    .divider{
        position: relative;
        margin: 0 auto;
        height: 1px;
        width: 80%;
        background-color: rgba(255 ,255 ,255, 0.438); 
    }
    .bg-wave{
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        opacity: 0.3;   
    }
}
.navigation-main.active{
    width: max-content;

    .menu{
        position: relative;
    }
    header{
        padding: 0;
        margin-top: 10px;
        background-color: transparent;

        ::after{
            display: none;
        }
        span{
            display: none;
        }
        .profile{
            height: 40px;
        }
    }
    // h2{
    //     display: none;
    // }
}
.navigation-main.menu.active{
    rotate: 180deg;
}
.navigation-main.active h2{
    display: none;
}
.navigation-main.Dark header{
    background-color: rgba(0, 0, 0, 0.438);
}